<div id="page-wrapper" class="wrapper">
  <section class="rightBg error-Pagetemplate">
    <div class="container error-page">
      <div class="column wid50">
        <img src="/{{ directory }}/images/404-img.png" alt="404">
      </div>
      <div class="column wid50 errorTxt">
        <p>We can't find the page you're looking for.</p>
        <a href="/" class="btn red">Go to Home Page</a>
      </div>
    </div>
  </section>
</div>


